.footer {
    background-color: black;
    position: static;
    bottom: 0;
    min-height: fit-content;
}

.left-footer {
    position: relative;
    margin: 5rem;
    float: left;
    height: 70px;
}

.right-footer {
    margin: 1.5rem;
    margin-right: 25rem;
    padding: 1rem;
}

.external-link {
    margin: 1.5rem 0;
}

.copyright {
    color: grey;
    font-size: 10px;
}

a {
    color: white;
}

a:hover{
    text-decoration: underline;
}