<div class="footer">

    <div class="left-footer">
        <div class="logo-footer">
            <img src="../../assets/footerlogo.svg">
        </div>
        <div class="social-media">
            <a>Facebook</a>
            <a>Youtube</a>
        </div>
    </div>

    <div class="right-footer">
        <div class="external-link">
            <a>Contact FSMOne</a>
            &nbsp;
            <a>Careers</a>
            &nbsp;
            <a>Disclaimer</a>
            &nbsp;
            <a>Privacy Policy</a>
            &nbsp;
            <a>S&P Disclaimer</a>
            &nbsp;
            <a>CUSIP Disclaimer</a>
            &nbsp;
            <a>Morningstar Disclaimer</a>
            &nbsp;
            <a>HKEX Disclaimer</a>
            &nbsp;
            <a>Anti-Bribery & Anti-Corruption Policy</a>
            &nbsp;
            <a>Investment Account Terms & Conditions</a>
            &nbsp;
            <a>Important Notes for Transacting Stocks & ETFs</a>
        </div>
        <br>
        <div class="copyright">
            <pre>
S&P ratings, @ 2021, S&P Capital IQ (and its affiliates, as applicable). All Rights Reserved.
Copyright @ 2021, American Bankers Association CUSIP Database provided by the S&P Capital IQ LLC. All rights reserved.
Copyright @ 2021, Market data provided by Cboe One Real-Time Quote, Morningstar Research Pte. Ltd. & Morningstar Real-Time Data Ltd. All Rights Reserved.
Copyright @ 2021, HKEX market data provided by HKEX Information Services Ltd. All Rights Reserved.
© 2021. All Rights Reserved. iFAST Capital Sdn. Bhd. Reg. No.200701024957
            </pre>
        </div>
    </div>

</div>