<div class="menu" *ngIf="isAccountInfo()">
    <h1>Account Opening</h1>
    <nz-steps [nzCurrent]="0" nzDirection="vertical">
        <nz-step nzTitle="Account Information"></nz-step>
        <nz-step nzTitle="Tax Information "></nz-step>
        <nz-step nzTitle="Supporting Documents"></nz-step>
        <nz-step nzTitle="Basic Information"></nz-step>
        <nz-step nzTitle="Financial Information"></nz-step>
      </nz-steps>
</div>

<div class="menu" *ngIf="isTaxInfo()">
  <h1>Account Opening</h1>
  <nz-steps [nzCurrent]="1" nzDirection="vertical">
      <nz-step nzTitle="Account Information"></nz-step>
      <nz-step nzTitle="Tax Information"></nz-step>
      <nz-step nzTitle="Supporting Documents"></nz-step>
      <nz-step nzTitle="Basic Information"></nz-step>
      <nz-step nzTitle="Financial Information"></nz-step>
    </nz-steps>
</div>

<div class="menu" *ngIf="isSupportDoc()">
  <h1>Account Opening</h1>
  <nz-steps [nzCurrent]="2" nzDirection="vertical">
      <nz-step nzTitle="Account Information"></nz-step>
      <nz-step nzTitle="Tax Information"></nz-step>
      <nz-step nzTitle="Supporting Documents"></nz-step>
      <nz-step nzTitle="Basic Information"></nz-step>
      <nz-step nzTitle="Financial Information"></nz-step>
    </nz-steps>
</div>

<div class="menu" *ngIf="isBasicInfo()">
  <h1>Account Opening</h1>
  <nz-steps [nzCurrent]="3" nzDirection="vertical">
      <nz-step nzTitle="Account Information"></nz-step>
      <nz-step nzTitle="Tax Information"></nz-step>
      <nz-step nzTitle="Supporting Documents"></nz-step>
      <nz-step nzTitle="Basic Information"></nz-step>
      <nz-step nzTitle="Financial Information"></nz-step>
    </nz-steps>
</div>

<div class="menu" *ngIf="isFinancialInfo()">
  <h1>Account Opening</h1>
  <nz-steps [nzCurrent]="4" nzDirection="vertical">
      <nz-step nzTitle="Account Information"></nz-step>
      <nz-step nzTitle="Tax Information"></nz-step>
      <nz-step nzTitle="Supporting Documents"></nz-step>
      <nz-step nzTitle="Basic Information"></nz-step>
      <nz-step nzTitle="Financial Information"></nz-step>
    </nz-steps>
</div>

<!--<div class="menu" *ngIf="isFinancialInfo()">
  <h1>Account Opening</h1>
  <nz-steps [nzCurrent]="4" nzDirection="vertical">
      <nz-step nzTitle="Account Information"></nz-step>
      <nz-step nzTitle="Tax Information"></nz-step>
      <nz-step nzTitle="Supporting Documents"></nz-step>
      <nz-step nzTitle="Basic Information"></nz-step>
      <nz-step nzTitle="Financial Information"></nz-step>
      <nz-step nzTitle="Opt-In For Stocks CDS Account"></nz-step>
    </nz-steps>
</div>-->