.menu {
    position: relative;
    float: left;
    padding: 0 50px;
    opacity: 1;
}

.timeline {
    background-color: grey;
    padding: 0 40px;
    width: 20rem;
    float: left;
}

::ng-deep .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    background-color: maroon;
}

::ng-deep .ant-steps-item-process .ant-steps-item-icon {
    background-color: #fff;
    border-color: maroon;
}

::ng-deep .ant-steps-item-finish .ant-steps-item-icon {
    background-color: maroon;
    border-color: maroon;
}

::ng-deep .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: white;
}

::ng-deep .ant-input-group {
    padding: 4px;
    color: rgba(0,0,0,.85);
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

::ng-deep .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title, .ant-switch, .ant-table {
    color: rgb(204, 22, 22);
}