.phone-select {
    width: 70px;
  }

  .password1 {
    float: left;
    width:30rem;
    position: relative;
  }

  .password2{
    float: left;
    width: 30rem;
    position: relative;
  }

  .salutation{
    float: left;
    width:30rem;
    position: relative;
  }

  .alert-danger-password {
    margin: -15px 0;
    position: absolute;
    bottom: 0;
  }

  .ant-input-group.ant-input-group-compact>.ant-cascader-picker-focused:last-child .ant-input, .ant-input-group.ant-input-group-compact>.ant-cascader-picker:last-child .ant-input, .ant-input-group.ant-input-group-compact>.ant-select:last-child>.ant-select-selector, .ant-input-group.ant-input-group-compact>:last-child {
    width: 100%
}

::ng-deep .ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: inherit;
  border: 1px solid transparent;
  box-shadow: none;
  width: 150px;
}