<app-menu [step]="step"></app-menu>

<div class="content">

    <div class="content-header">
        <h1>Account Information</h1>
        Welcome to FSMOne. We will need some information from you for account opening.
    </div>

    <div class="content-form">

        <form nz-form [formGroup]="accountInfoForm" (ngSubmit)="submitAccountInfo()" ngNativeValidate>

            <div class="section">
                <h1>Account Login Details</h1>
                <nz-form-item>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-group>
                            <input type="text" formControlName="user_id" nz-input placeholder="User ID" oninput="this.value = this.value.toUpperCase()">
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div class="alert-danger" *ngIf="user_validation">
                    <nz-alert nzBanner nzMessage={{blankMessage}} 
                        *ngIf="accountInfoForm.controls['user_id'].hasError('required')">
                    </nz-alert>
                    <nz-alert nzBanner nzMessage="Login name must be at least 8 characters." 
                        *ngIf="accountInfoForm.controls['user_id'].hasError('minlength') || accountInfoForm.controls['user_id'].hasError('required')">
                    </nz-alert>
                    <nz-alert nzBanner nzMessage="Login name must contain alphabet value or combination of alphanumeric value only." 
                        *ngIf="accountInfoForm.controls['user_id'].hasError('pattern')">
                    </nz-alert>
                </div>
                <div class="password1">
                    <nz-form-item>
                        <nz-form-control [nzSpan]="12">
                            <nz-input-group>
                                <input type="password" formControlName="password" nz-input placeholder="Password">
                            </nz-input-group>
                        </nz-form-control>
                        <div class="alert-danger-password" *ngIf="password_validation">
                            <nz-alert nzBanner nzMessage={{blankMessage}} 
                                *ngIf="accountInfoForm.controls['password'].hasError('required')">
                            </nz-alert>
                        </div>
                    </nz-form-item>
                </div>
                <div class="password2">
                    <nz-form-item>
                        <nz-form-control [nzSpan]="12">
                            <nz-input-group>
                                <input type="password" formControlName="password2" nz-input placeholder="Confirm Password">
                            </nz-input-group>
                        </nz-form-control>
                        <div class="alert-danger-password" *ngIf="password2_validation">
                            <nz-alert nzBanner nzMessage="Please ensure both password field matches."></nz-alert>
                        </div>
                    </nz-form-item>
                </div>
            </div>

            <div class="section">
                <h1>Personal Information</h1>
                <h2>Are you a Malaysian citizen?</h2>
                <nz-form-item>
                    <nz-form-control [nzSpan]="10">
                        <nz-radio-group nzButtonStyle="solid" formControlName="citizenship">
                            <label nz-radio-button nzValue="Yes">Yes</label>
                            <label nz-radio-button nzValue="No">No</label>
                          </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-group>
                            <input type="text" formControlName="nric" nz-input placeholder="NRIC">
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div class="alert-danger" *ngIf="nric_validation">
                    <nz-alert nzBanner nzMessage={{blankMessage}} 
                        *ngIf="accountInfoForm.controls['nric'].hasError('required')">
                    </nz-alert>
                    <nz-alert nzBanner nzMessage="Please enter a valid NRIC without dash." 
                        *ngIf="accountInfoForm.controls['nric'].hasError('required') || accountInfoForm.controls['nric'].hasError('minlength')">
                    </nz-alert>
                </div>
                <nz-form-item>
                    <nz-form-control [nzSpan]="10">
                        <nz-input-group nzCompact>
                            <nz-select formControlName="nric_type">
                              <nz-option [nzLabel]="'MyKad (Malaysia Citizen)'" [nzValue]="'MyKad'"></nz-option>
                              <nz-option [nzLabel]="'MyTentera (Army in Services)'" [nzValue]="'MyTentera'"></nz-option>
                              <nz-option [nzLabel]="'MyPR (Permanent Resident)'" [nzValue]="'MyPR'"></nz-option>
                              <nz-option [nzLabel]="'MyKas (Temporary Resident)'" [nzValue]="'MyKas'"></nz-option>
                              <nz-option [nzLabel]="'Others'" [nzValue]="'Others'"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div class="salutation">
                    <nz-form-item>
                        <nz-form-control [nzSpan]="10">
                            <nz-input-group nzCompact>
                                <nz-select formControlName="salutation">
                                  <nz-option [nzLabel]="'Salutation'" [nzValue]="''"></nz-option>
                                  <nz-option [nzLabel]="'Dr'" [nzValue]="'Dr'"></nz-option>
                                  <nz-option [nzLabel]="'Mdm'" [nzValue]="'Mdm'"></nz-option>
                                  <nz-option [nzLabel]="'Mr'" [nzValue]="'Mr'"></nz-option>
                                  <nz-option [nzLabel]="'Mrs'" [nzValue]="'Mrs'"></nz-option>
                                  <nz-option [nzLabel]="'Ms'" [nzValue]="'Ms'"></nz-option>
                                  <nz-option [nzLabel]="'Tan Sri'" [nzValue]="'Tan_Sri'"></nz-option>
                                  <nz-option [nzLabel]="'Dato'" [nzValue]="'Dato'"></nz-option>
                                  <nz-option [nzLabel]="'Datin'" [nzValue]="'Datin'"></nz-option>
                                  <nz-option [nzLabel]="'Prof'" [nzValue]="'Prof'"></nz-option>
                                </nz-select>
                              </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="alert-danger" *ngIf="salutation_validation">
                        <nz-alert nzBanner nzMessage={{blankMessage}} 
                            *ngIf="accountInfoForm.controls['salutation'].hasError('required')">
                        </nz-alert>
                    </div>
                </div>
                <div class="password2">
                    <nz-form-item>
                        <nz-form-control [nzSpan]="14">
                            <nz-input-group>
                                <input type="text" formControlName="name" nz-input placeholder="Full name as per NRIC">
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="alert-danger" *ngIf="name_validation">
                        <nz-alert nzBanner nzMessage={{blankMessage}} 
                            *ngIf="accountInfoForm.controls['name'].hasError('required')">
                        </nz-alert>
                    </div> 
                </div>  
            </div>

            <div class="section">
                <h1>Contact Information</h1>
                <nz-form-item>
                    <nz-form-control [nzSpan]=13>
                      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                          <nz-select formControlName="dialing_code" class="phone-select">
                            <nz-option nzLabel="+60(Malaysia)" nzValue="+60(Malaysia)"></nz-option>
                            <nz-option nzLabel="+47(Norway)" nzValue="+87(Norway)"></nz-option>
                          </nz-select>
                        </ng-template>
                        <input formControlName="mobileNo" id="'phoneNumber'" nz-input />
                      </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div class="alert-danger" *ngIf="mobile_no_validation">
                    <nz-alert nzBanner nzMessage={{blankMessage}} 
                        *ngIf="accountInfoForm.controls['mobileNo'].hasError('required')">
                    </nz-alert>
                    <nz-alert nzBanner nzMessage="Please ensure the mobile number is valid." 
                        *ngIf="accountInfoForm.controls['mobileNo'].hasError('minlength')">
                    </nz-alert>
                </div> 
            </div>

            <div class="section">
                <h1>Email Address</h1>
                <nz-form-item>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-group>
                            <input type="email" formControlName="email" nz-input placeholder="Email">
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div class="alert-danger" *ngIf="email_validation">
                    <nz-alert nzBanner nzMessage={{blankMessage}} 
                        *ngIf="accountInfoForm.controls['email'].hasError('required')">
                    </nz-alert>
                    <nz-alert nzBanner nzMessage="Please enter your E-mail address in the format userid@address.domain"
                        *ngIf="accountInfoForm.controls['email'].hasError('pattern')">
                    </nz-alert>
                </div> 
            </div>

            <div class="section">
                <h2>Reference's Account No. (Optional)</h2>
                <nz-form-item>
                    <nz-form-control [nzSpan]=10>
                      <nz-input-group>
                        <input type="text" formControlName="referrer_account_no" nz-input placeholder="Referrer Account No">
                      </nz-input-group>
                      <nz-input-group>
                        <input type="text" formControlName="referrer_name" nz-input placeholder="Referrer Name"/>
                      </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <nz-form-item>
                <nz-form-control [nzSpan]="10">
                    <button nz-button nzType="primary" type="submit">Register</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>

