/* You can add global styles to this file, and also import other style files */
.content {
    margin: 0 25rem;
    padding: 0 2.5rem;
    width: 70rem;
    border-left: 1px solid grey;
    min-height: 490px;
}

.content-header{
    margin-bottom: -5px;
}

.section {
    margin: 5rem 0;
    clear: both;
}

input {
    margin: 2rem 0;
}

.alert-danger{
    min-height: 50px;
}

.ant-alert-warning {
    background-color: white;
    border: 1px solid white
}

.ant-alert-message {
    color: orangered;
}

.ant-alert-warning .ant-alert-icon {
    color: orangered;
}
